{% extends "news/base.html" %}
{%load static%}
{% block content%}

    <!-- page header
    ================================================== -->
    <section class="page-header page-hero" style="background-image:url({% static 'images/blog/blog-bg-01.jpg' %})">

        <div class="row page-header__content">
            <article class="col-full">

                <div class="page-header__info">
                    <div class="page-header__date">
                        {{page_obj.0.created}}
                    </div>
                </div>
                
                <h1 class="page-header__title">
                    <a href="{% url 'news:detail_post' page_obj.0.slug %}" title="">
                        {{page_obj.0.title}}
                    </a>
                </h1>
                <p>{{page_obj.0.text|truncatewords:25}}</p>
                <p>
                    <a href="{% url 'news:detail_post' page_obj.0.slug %}" class="btn btn--stroke page-header__btn">Read More</a>
                </p>
            </article>
        </div>

    </section> <!-- end page-header -->


    <!-- blog
    ================================================== -->
    <section class="blog-content-wrap">

        <div class="row blog-content">
            <div class="col-full">

                <div class="blog-list block-1-2 block-tab-full">
                    {% for article in page_obj|slice:"1:" %}
                        <article class="col-block">
                            
                            <div class="blog-date">{{article.created}}</div>  
                            
                            <h2 class="h01"><a href="{% url 'news:detail_post' article.slug %}">{{article.title}}</a></h2>
                            <p>
                            {{article.text|truncatewords:25}}
                            </p>

                        </article>
                    {% endfor %}
                </div> <!-- end blog-list -->

            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->

        {% include 'news/partials/pagination.html' %}

    </section> <!-- end blog-content-wrap -->


{%endblock%}