{% extends "news/base.html" %}
{%load static%}
{% block content%}
    <article class="blog-single">

        <!-- page header/blog hero
        ================================================== -->
        <div class="page-header page-header--single page-hero" style="background-image:url({% static 'images/blog/blog-bg-02.jpg' %})">
        
            <div class="row page-header__content narrow">
                <article class="col-full">
                    <h1 class="page-header__title">
                        <a href="#0" title="">
                            {{article.title}}
                        </a>
                    </h1>
                    <ul class="page-header__meta">
                        <li class="date">{{article.created}}</li>
                    </ul>
                    
                </article>
            </div>
    
        </div> <!-- end page-header -->

        <div class="row blog-content">
            <div class="col-full blog-content__main">
                {{article.text}}
                <div class="blog-content__pagenav">
                    <div class="blog-content__nav">
                        {%if article.previous_article%}
                        <div class="blog-content__prev">
                            <a href="{% url 'news:detail_post' article.previous_article_slug %}" rel="prev">
                                <span>Previous Post</span>
                                {{article.previous_article}}
                            </a>
                        </div>
                        {%endif%}
                        {%if article.next_article%}
                        <div class="blog-content__next">
                            <a href="{% url 'news:detail_post' article.next_article_slug %}" rel="next">
                                <span>Next Post</span>
                                {{article.next_article}} 
                            </a>
                        </div>
                        {%endif%}
                    </div>

                    <div class="blog-content__all">
                        <a href="{% url 'news:blog' %}" class="btn btn--primary">
                            View All Posts
                        </a>
                    </div>
                </div>

            </div><!-- end blog-content__main -->
        </div> <!-- end blog-content -->

    </article>


    <!-- comments
    ================================================== -->
    <div class="comments-wrap">

        <div id="comments" class="row">
            <div class="col-full">

               <h3>{{article.comments.all.count}} Comments</h3>

               <!-- commentlist -->
               <ol class="commentlist">
                    {% for comment in article.comments.all %}
                    <li class="depth-1 comment">

                        <div class="comment__avatar">
                            <img width="50" height="50" class="avatar" src="{% static 'images/avatars/user-01.jpg' %}" alt="">
                        </div>

                        <div class="comment__content">

                            <div class="comment__info">
                                <cite>{{comment.nickname}}</cite>

                                <div class="comment__meta">
                                    <time class="comment__time">{{comment.created}}</time>
                                </div>
                            </div>

                            <div class="comment__text">
                            <p>{{comment.text}}</p>
                            </div>

                        </div>

                    </li>
                    {% endfor %}

                </ol> <!-- Commentlist End -->	

               <!-- respond -->
               <div class="respond">

                    <h3>Leave a Comment</h3>

                    <form name="contactForm" method="post" action=".">
                        {%csrf_token%}
                        {{form.non_field_errors}}
                        <fieldset>
                        {{form.nickname.errors}}
                        <div class="form-field">
                                <input name="nickname" type="text" id="cName" class="full-width" placeholder="Your Nickname" value="{%if form.nickname.value%}{{form.nickname.value}}{%endif%}">
                                
                        </div>
                        {{form.email.errors}}
                        <div class="form-field">
                                <input name="email" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="{%if form.email.value%}{{form.email.value}}{%endif%}">
                        </div>
                        {{form.text.errors}}
                        <div class="message form-field">
                            <textarea name="text" id="cMessage" class="full-width" placeholder="Your Message">{%if form.text.value%}{{form.text.value}}{%endif%}</textarea>
                        </div>

                        <button type="submit" class="submit btn--primary">Submit</button>

                        </fieldset>
                    </form> <!-- Form End -->

                </div> <!-- Respond End -->

            </div> <!-- end col-full -->
        </div> <!-- end row comments -->
    </div> <!-- end comments-wrap -->

{%endblock%}